<H1>Login!</H1>

<div class="container">
  <div class="alert alert-warning" *ngIf='user.invalidLogin'>{{user.errorMessage}}</div>

  <div>
    User Name : <input type="text" name="username" [(ngModel)]="user.username">
    Password  : <input type="password" name="password" [(ngModel)]="user.password">

    <!-- User Name : {{username}} -->

    <!-- <button (click)=handleLogin() class="btn btn-success">Login</button> -->
    <button (click)=handleBasicAuthLogin() class="btn btn-success">Login</button>
  </div>
</div>